

:root{

    /* --primary-color: #1b1c25; */
    /* --hover-color: #272832; */
    --accent-color: #333762;
    --active-color: #767fdc;
    --text-color: #c9c9c9;
    --padding-page: 10px;
}



html{
  color: var(--text-color);
  scroll-behavior: smooth;
}

body{
    max-width: unset !important;
    margin: unset !important;
    padding: unset !important;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    min-width: 280px;

    /* background-color: var(--primary-color); */
    /* max-width: 80ch; */
    margin-inline: auto;
}

header{
    /* background-color: #1a242f; */
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main{
  padding: min(5em, 7%);
} */
/* main p{
  margin-top: .35em;
} */
nav{
  background-color: var(--background-body);
  /* border-bottom: 1px solid var(--hover-color); */
  width: 100%;
  max-width: 860px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav .home-li{
  margin-right: auto;
}

nav li{
  display: flex;
}

nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);

  padding-inline: 2em;
  padding-block: 1em;
  transition: all 150ms ease;
}

nav a:hover{
  background-color: var(--hover-color);
  text-decoration: inherit;
  /* transition: background-color 150ms ease; */
  transition: border-bottom 500ms ease;
}
nav a.active-link{
    /* background-color: var(--hover-color); */
    border-bottom: 2px solid var(--active-color);
    /* color: var(--active-color); */
    transition: border-bottom 500ms ease;
}
nav a.accent-link{
  /* color: var(--active-color); */
  font-weight: bold;
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}


.dror {
    margin-right: auto;
}


main, footer {

    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: var(--padding-page); /* Added padding using CSS variable */
}

main{
    flex: 1;
}

footer {
    min-height: 60px;
}



@media screen and (max-width: 700px) {
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }
  nav.show{
    right: 0;

  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  nav a.active-link{
    border-bottom: none;
    color: var(--active-color);
  }
  nav .home-li{
    margin-right: unset;
  }
}


