@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
    /* --primary-color: #11121a; */
    --primary-color: #1b1c25;
    --hover-color: #272832;
    --accent-color: #333762;
    --text-color: #c9c9c9;
    --padding-page: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; /*For bookmark links*/
}
body{
    max-width: unset; /* Fixed max-width property */
    margin: unset; /* Fixed margin property */
    padding: unset; /* Fixed padding property */
    height: 100dvh;
    display: flex; /* Fixed display property */
    flex-direction: column;
    text-wrap: pretty;
    min-width: 280px;

    background-color: var(--primary-color);
    max-width: 80ch;
    margin-inline: auto;

}

header{
    /* background-color: #1a242f; */
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main{
  padding: min(5em, 7%);
}
main p{
  margin-top: .35em;
} */
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
  width: 100%;
  max-width: 860px;
}
nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;
}
nav li{
  display: flex;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--accent-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid #ffffff;
}


.dror {
    margin-right: auto;
}


main, footer {

    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: var(--padding-page); /* Added padding using CSS variable */
}

main{
    flex: 1;
}

footer {
    min-height: 60px;
}



@media screen and (max-width: 700px) {
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }
  nav.show{
    right: 0;

  }
  nav.show ~ #overlay{
    display: block;
    transition: right 300ms ease-in-out;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  nav a.active-link{
    border-bottom: none;
  }
  nav .home-li{
    margin-right: unset;
  }
}


